@model IEnumerable<LibrairieDTICRosemont.Models.Categorie>

@{
    ViewData["Title"] = "Index";
}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategorieId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategorieId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategorieId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
